mat-grid-tile {
    border: 1px solid #eee;
    border-radius: 5px;
}

.home-page-product_images{
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.img-container{
    display:flex;
    /* background-color: #eee; */
    width: auto;
    height: 30%;
    max-height: 50%;
    justify-content: center;
}
.img-fluid{
    width: auto;
    height: 100%;
}
